html {
    font-size: 38px;
}

.content {
    background-color: #f4f4f4;
    height: 5000px;
}
/* 底部导航 */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.30667rem;
    background-color: #ffffff;
}
.footer > ul {
    height: 100%;
    display: flex;
    padding: .5em;
}
.footer > ul > li {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}
.footer > ul > li.current{
    color:#DD1A21
}
.footer > ul > li .iconfont {
    font-size: 18px;
}

/* 顶部 */
.header {
    position: fixed;
    height: 68px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #efefef;
}
.search_bar {
    padding:.5em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search_bar > .logo{
    width: 2rem;
    font-size: 16px;
    font-family: '宋体';
}
.search_bar > .search_box{
    flex-grow: 1;
    background-color: #ededed;
    border-radius: 3px;
    padding:.5em 1em;

}
.search_bar > .search_box img{
    width: .37333rem;
    height: .37333rem;
    vertical-align: text-top;
}
.search_bar > .search_box input {
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.search_bar > .btn_login{
    width: 1rem;
    text-align: center;
    border: 1px solid #DD1A21;
    color: #DD1A21;
    border-radius: 3px;
    margin-left: .5em;
    line-height: 1.5em;
    height: 1.5em;
}

.nav_wrapper {
    position: relative;
}
.nav_wrapper > .nav {
    flex-grow: 1;
    overflow: hidden;
    margin-right: 2.5rem;
}
.nav_wrapper > .nav > ul {
    width: 1600px;
}
.nav_wrapper > .nav > ul::after {
    content: "";
    display: block;
    clear: both;
}
.nav_wrapper > .nav > ul > li {
    float: left;
    padding: 0 1.3em;
}
.nav_wrapper > .nav > ul > li:first-child{
    border-bottom: 2px solid #DD1A21;
}
.nav_wrapper > .nav > ul > li:first-child a{
    color: #DD1A21;
}
.nav_wrapper >.toggle {
    width: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
}
.content{
    width: 100%;
    background-color: #ffffff;
}
.content > .figure > img{
    width: 100%;
    padding-top: 1.80667rem;
}
.content > .ensure > ul{
    display: flex;
    flex-direction: row;
    padding: 0 .4rem;
}
.content > .ensure > ul > li{
    flex-basis: 33.3%;
    text-align: center;
}
.content > .ensure > ul > li img{
    width: .42667rem;
    height: .42667rem;
    vertical-align:middle;
}
.content > .topic > ul{
    display: flex;
    flex-wrap: wrap;
}
.content > .topic > ul > li{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: .13333rem 0;
    cursor: pointer;
}
.content > .topic > ul > li img{
    width: 1.46667rem;
    height: 1.46667rem;
}
.content > .topic > ul > li span{
    margin-top: .13333rem;
}
.content > .area{
    background-color: #f4f4f4;
}
.content > .area > .youhui img{
    cursor: pointer;
    width: 100%;
}
.content > .area > ul{
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
    justify-content:center;
}
.content > .area > ul li{
    flex-basis: 50%;
    text-align: center;
}
.content > .area > ul li img{
    width: 95%;
    cursor: pointer;
}

.content > .xinren > .xinrenTitle{
    height: 1.2rem;
    width: 100%;
    line-height: 1.2rem;
    text-align: center;
    font-size: .42667rem;
}
.content > .xinren > .xinrenTitle span{
    display: inline-block;
    position: relative;
}
.content > .xinren > .xinrenTitle span::before{
    content: "";
    position: absolute;
    top: .6rem;
    width: .32rem;
    height: .04rem;
    background: #333;
    left: -.53333rem;
}
.content > .xinren > .xinrenTitle span::after{
    content: "";
    position: absolute;
    top: .6rem;
    width: .32rem;
    height: .04rem;
    background: #333;
    right: -.53333rem;
}
.content > .xinren > .xinrenContent{
    width: 100%;
}
.content > .xinren > .xinrenContent .left{
    display: block;
    height: 5.78667rem;
    background: #F9E9CF;
    border-radius: .05333rem;
    float: left;
    color: #333;
    margin: 0 3%;
    width: 45%;
}
.content > .xinren > .xinrenContent > .left .xinrenName{
    font-size: .42667rem;
    padding: .4rem 0 0 .4rem;
}
.content > .xinren > .xinrenContent > .left .leftImg{
    margin: .49333rem auto;
    width: 3.44rem;
    height: 3.42667rem;
}
.content > .xinren > .xinrenContent > .right{
    float: left;
    width: 45%;
    margin: 0 2%;
}
.content > .xinren > .xinrenContent::after{
    content: "";
    display: block;
    clear: both;
}
.content > .xinren > .xinrenContent > .right > .module{
    background: #FBE2D3;
    border-radius: 4px;
    height: 2.86667rem;
    margin-bottom: .05333rem;
    position: relative;
}
.content > .xinren > .xinrenContent > .right > .module > .rightName{
    font-size: .42667rem;
    padding: .4rem 0 0 .4rem;
}
.content > .xinren > .xinrenContent > .right > .module > .right1Name2{
    color: #7F7F7F;
    padding-left: 1.3em;
}
.content > .xinren > .xinrenContent > .right > .module > img{
    width: 2.66667rem;
    height: 2.66667rem;
    position: absolute;
    right: 0;
}

.content > .xinren > .xinrenContent > .right > .module > .right2Name2{
    color: #fff;
    display: inline-block;
    padding: 0 .13333rem;
    background: #CBB693;
    text-align: center;
    margin-left: 1.3em;
}